[Unit]
Description=Rocket API Sidekiq service
After=syslog.target network.target redis-server.service

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/www/rocket_api

ExecStart=/home/deploy/www/rocket_api/bin/sidekiq -e production

Environment="PATH=/home/deploy/.rbenv/shims:/home/deploy/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin" "MALLOC_ARENA_MAX=2"

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
